.projects-container {
    display: flex;
    flex-direction: row;
    margin: 5vh 5vw;
}

.box-container {
    border: 2px solid black;
    box-shadow: 5px 5px 1px #000, 2px 2px 1px 1px rgba(0,0,0,1);
    cursor: pointer;
    height: 15em;
    line-height: 1.2;
    margin: 1em;
    padding: 1em;
    width: 15em;
}

.project-name {
    font-size: 2em;
    font-weight: 500;
    margin: 15% 0 0.3em 0;
}

.ReactModal__Content--after-open {
    overflow-y: scroll !important;
}